[color]
    # Always colorize the output
    ui = always
[core]
    # Global exlcudes
    excludesfile = ~/.gitignore

    # Global attributes
    attributesFile = ~/.gitattributes

    # Make `git rebase` safer on OS X
    # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
    trustctime = false

    # Make `git push` push relevant annotated tags when pushing branches out.
    followTags = true

    # Make `git status` faster (git 2.8.0)
    # More info: <https://news.ycombinator.com/item?id=11388479>
    untrackedCache = true
[alias]
    # View abbreviated SHA, description, and history graph of the latest 20 commits
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    s = status -s
    b = branch
    r = remote
    ca = commit -am
    co = commit -m
    pa = push --all
    pom = push origin master
    pod = push origin develop
    go = checkout
    a = add
    aa = add .
    m = merge
[push]
    default = current
