[color]
    # Always colorize the output
    ui = always
[core]
    # Global exlcudes
    excludesfile = ~/.gitignore

    # Global attributes
    attributesFile = ~/.gitattributes
[alias]
    # View abbreviated SHA, description, and history graph of the latest 20 commits
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    s = status -s
    ca = commit -am
    co = commit -m
    pa = push --all
    pom = push origin master
    pod = push origin develop
    go = checkout
    a = add
    aa = add .
[push]
    default = current
# Use Kaleidoscope for diff + merge
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
    tool = Kaleidoscope
[difftool]
    prompt = false
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[mergetool]
    prompt = false
[merge]
    tool = Kaleidoscope
