'exception-reporting':
  'userId': '839666cb-cb64-6543-810a-3b5d7364fe12'
'release-notes':
  'viewedVersion': '0.94.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '357e7da4684b576964486890ed5add76d85a355c'
'editor':
  'showIndentGuide': true
  'showInvisibles': true
  'tabLength': 4
  'fontFamily': 'Source Code Pro'
  'lineHeight': 1.5
'core':
  'themes': [
    'spacegray-dark-ui'
    'base16-ocean-dark-spacegray'
  ]
  'useReactEditor': true
  'disabledPackages': [
    'tabs'
    'tree-view'
  ]
'tree-view':
  'hideVcsIgnoredFiles': false
  'hideIgnoredNames': false
  'showOnRightSide': false
'sublime-tabs': {}
'tabs':
  'showIcons': true
